################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ViewModel/ImagePathConverter.cs
/Utilities/ResxResourceExtension .cs
