################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ViewModel/ImagePathConverter.cs
/Utilities/ResxResourceExtension .cs
/bin/x64/Debug
/Model/__pycache__/XAI_ResNet50.cpython-39.pyc
/dataset
/bin/Debug
